<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
	     http://www.springframework.org/schema/context/spring-context.xsd          
	     http://www.springframework.org/schema/aop         
	     http://www.springframework.org/schema/aop/spring-aop.xsd
	     
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="duke" class="com.springinaction.springidol.Juggler">
		<constructor-arg value="15" />
	</bean>
	<bean id="poeticDuke" class="com.springinaction.springidol.PoeticJuggler">
		<constructor-arg value="16" />		
		<constructor-arg ref="sonnet29" />
	</bean>
	<bean id="sonnet29" class="com.springinaction.springidol.Sonnet29" />
	<bean id="theStage" class="com.springinaction.springidol.Stage" factory-method="getInstance" />
	<bean id="ticket" class="com.springinaction.springidol.Ticket" scope="prototype" />
	<bean id="auditorium" class="com.springinaction.springidol.Auditorium"
		init-method="turnOnLights"
		destroy-method="turnOffLights" />
	<bean id="kenny" class="com.springinaction.springidol.Instrumentalist">
	    <property name="song" value="Jingle Bells" />
	    <property name="instrument" ref="piano" />
	</bean>
	<bean id="kenny2" class="com.springinaction.springidol.Instrumentalist">
	    <property name="song" value="Jingle Bells" />
	    <property name="instrument">
			<bean class="com.springinaction.springidol.Saxophone" />
		</property>
	</bean>
	
	<bean id="saxophone" class="com.springinaction.springidol.Saxophone" />
	<bean id="piano" class="com.springinaction.springidol.Piano" />
	<bean id="hank"	class="com.springinaction.springidol.OneManBand">
		<property name="instruments">
			<list>
				<ref bean="guitar" />
				<ref bean="cymbal" />
				<ref bean="harmonica" />
			</list>
		</property>
	</bean>
	<bean id="guitar" class="com.springinaction.springidol.Guitar" />
	<bean id="cymbal" class="com.springinaction.springidol.Cymbal" />
	<bean id="harmonica" class="com.springinaction.springidol.Harmonica" />
	
	<bean id="carl"	class="com.springinaction.springidol.Instrumentalist">
		<!--  <property name="song" value="#{kenny.song != null ? kenny.song : 'Greensleeves'}" /> -->
		<property name="song" value="Jingle Bells" />
		<property name="instrument" ref="piano" />
	</bean>
	
	<bean id="audience" class="com.springinaction.springidol.Audience" />
	
	<aop:config>
		<aop:aspect ref="audience"> <!-- Ссылка на компонент audience -->
			<aop:before pointcut="execution(* com.springinaction.springidol.Performer.perform(..))"
			method="takeSeats" /> <!-- Перед выступлением -->
			<aop:before pointcut="execution(* com.springinaction.springidol.Performer.perform(..))"
			method="turnOffCellPhones" /> <!-- Перед выступлением -->
			<aop:after-returning pointcut="execution(* com.springinaction.springidol.Performer.perform(..))"
			method="applaud" />  <!-- После выступления -->
			<aop:after-throwing pointcut="execution(* com.springinaction.springidol.Performer.perform(..))"
			method="demandRefund" /> <!-- После неудачного выступления -->
			<aop:pointcut id="performance2" expression=
			    "execution(* com.springinaction.springidol.Performer.perform(..))"
			    />
			<!-- Совет, выполняемый и до, и после -->
			<aop:around pointcut-ref="performance2" method="watchPerformance" />
		</aop:aspect>
	</aop:config>
	
	<bean id="magician" class="com.springinaction.springidol.Magician" />
	<bean id="volunteer" class="com.springinaction.springidol.Volunteer" />
	
	<aop:config>
		<aop:aspect ref="magician">
			<aop:pointcut id="thinking"
				expression="execution(*
				com.springinaction.springidol.Thinker.thinkOfSomething(String))
				and args(thoughts)" />
			<aop:before
				pointcut-ref="thinking"
				method="interceptThoughts"
				arg-names="thoughts" />
		</aop:aspect>
	</aop:config>
	
	
	
</beans>
